body {
    background-color: hsl(34, 78%, 91%);
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
}
.titlebar {
    left: 0;
    top: 0;
    right: 18px;
    height: 18px;
    background-color: grey;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    font-size: 10pt;
}
.titleobject {
    margin: 0;
    padding: 0;
    border: 0;
    color: black;
    user-select: none;
}
.titlebutton {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: 11px;
    background-color: hsl(0, 70%, 50%);
}
.titlebutton:hover {
    background-color: hsl(0, 100%, 50%);
}
.titletext {
    pointer-events: none;
}
.grid {
    position: absolute;
    z-index: 100;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    display: grid;
    grid-template-columns: 4px auto 4px;
    grid-template-rows: 4px auto 4px;
    pointer-events: none;
}
.border {
    background-color: black;
    pointer-events: auto;
    user-select: none;
}
